{% extends 'defaultLayout.html.twig' %}

{% block contenu %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Mot de passe oublié</h1>
				<hr>
				{% if success_send is defined %}
					<div class="col-xs-12 alert alert-success">
						<p>{{ success_send | balise }}</p>
					</div>
				{% endif %}

				{% if token_expired is defined %}
					<div class="col-xs-12 alert alert-danger">
						<p>{{ token_expired | balise }}</p>
					</div>
				{% endif %}

				{% if token_invalid is defined %}
					<div class="col-xs-12 alert alert-danger">
						<p>{{ token_invalid | balise }}</p>
					</div>
				{% endif %}

				{% if not_exist_user is defined %}
					<div class="col-xs-12 alert alert-danger">
						<p>{{ not_exist_user | balise }}</p>
					</div>
				{% endif %}

				<form action="{{ url('forgot_passwordPost', {token: app.session.get('token')}) }}" method="post">
					<div class="form-group">
						<label class="control-label">Email</label>
						<div>
							<input type="email" placeholder="Enter your email" class="form-control" name="mail" required>
						</div>
					</div>

					<input type="submit" value="Envoyer" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{# include footer #}
{% block footer %}
	{% include 'commerce/footer.html.twig' %}
{% endblock %}