{% extends 'defaultLayout.html.twig' %}

{% block contenu %}
	
	{% if invalid_field is defined %}
		<p class="alert alert-danger">{{ invalid_field }}</p>
	{% endif %}

	{% if password_not_identic is defined %}
		<p class="alert alert-danger">{{ password_not_identic }}</p>
	{% endif %}

	<h1>Réinitialisation</h1>
	
	<form action="{{ url('reset_passwordPost', {token: token}) }}" method="post">
		<div class="form-group">
			<label class="col-md-3 control-label">Email</label>
			<div class="col-md-7">
				<input type="email" placeholder="Enter your email" class="form-control" name="mail" required>
			</div>

			<label class="col-md-3 control-label">Code Postal</label>
			<div class="col-md-7">
				<input type="text" placeholder="Entrer votre code postal" class="form-control" name="zip_code" required>
			</div>

			<label class="col-md-3 control-label">Password</label>
			<div class="col-md-7">
				<input type="password" placeholder="Entrer votre mot de passe" class="form-control" name="password" required>
			</div>

			<label class="col-md-3 control-label">Confirmation de mot de passe</label>
			<div class="col-md-7">
				<input type="password" placeholder="Confirmer votre mot de passe" class="form-control" name="confirm_password" required>
			</div>

			<input type="hidden" placeholder="Confirmer votre mot de passe" class="form-control inject-token" name="token">
			<input type="submit" value="Envoyer" class="btn btn-primary">
		</div>
	</form>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/injectToken') }}"></script>
{% endblock %}