{% extends 'defaultLayout.html.twig' %}

{% block contenu %}
	<div class="container result">

		<div class="row">

			<div class="col-xs-12">

				<h1>Résultats</h1>

				<hr>

				<h3>{{ nbResultats }} résultat{% if nbResultats > 1 %}s{% endif %} pour <span>"{{ searchText }}"</span></h3>

				<br>

				{% for result in results %}
					<h4>{{ result | search_construct['category'] }}</h4>
					<p>{{ result | search_construct['content'] }}</p>
					<p>{{ result | search_construct['url'] | balise }}</p>
				{% endfor %}

			</div>

		</div>

	</div>

{% endblock %}

{# include footer #}
{% block footer %}
	{% include 'commerce/footer.html.twig' %}
{% endblock %}

