{% extends 'skeleton.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/style.css') }} ">

{% endblock %}

{% block header %}
	{# version avec le HttpFragmentServiceProvider pour faire le rendu direct depuis un controleur #}
	{{ render (controller('Application\\Controller\\InterfaceCommerceController::menu', { 'active':active } )) }}	
{% endblock %}

{% block body %}
	<div class="row">

		{% block menushop %}
			<div class="col-xs-12 col-sm-2">
				{# version avec le HttpFragmentServiceProvider pour faire le rendu direct depuis un controleur #}
				{{ render (controller('Application\\Controller\\InterfaceCommerceController::menuShop', { 'active':active } )) }}   
			</div>
		{% endblock %}
		<div class="col-xs-12 col-sm-10">
			{% block contenu %}
			{% endblock %}
		</div>
	</div>
{% endblock %}

{% block footer %}

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/script.js') }}"></script>
{% endblock %}