{% extends 'defaultLayout.html.twig' %}

{% block title %}
	Street Connexion
{% endblock %}

{% block contenu %}
	<header class="container-fluid">
		<div class="jumbotron col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 hidden-xs">
			<h1>Street  Connect</h1>
		</div>

		<!-- Carousel
		================================================== -->
		<div class="col-xs-12 carDiv">
			<div class="container col-xs-10 col-xs-offset-1" style="padding-bottom: 0 !important">
				<div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
						<li data-target="#myCarousel" data-slide-to="3"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img class="first-slide" height="auto" width="1280" src="{{asset('img/skate.jpg')}}">
							<div class="container">
								<div class="carousel-caption">

									<p><a class="btn btn-lg btn-default" href="{{ url('shop', {'category_name': 'skate'}) }}" role="button">Skate</a></p>
								</div>
							</div>
						</div>
						<div class="item">
							<img class="second-slide" height="auto" width="1280" src="{{asset('img/roller.jpg')}}">
							<div class="container">
								<div class="carousel-caption">
									<p></p>
									<p><a class="btn btn-lg btn-default" href="{{ url('shop', {'category_name': 'roller'}) }}" role="button">Roller</a></p>
								</div>
							</div>
						</div>
						<div class="item">
							<img class="third-slide" height="auto" width="1280" src="{{asset('img/parkour.jpg')}}" alt="Third slide">
							<div class="container">
								<div class="carousel-caption">
									<p></p>
									<p><a class="btn btn-lg btn-default" href="{{ url('shop', {'category_name': 'parkour'}) }}" role="button">Parkour</a></p>
								</div>
							</div>
						</div>
						<div class="item">
							<img class="fourth-slide" height="auto" width="1280" src="{{asset('img/bmx.jpg')}}" alt="Third slide">
							<div class="container">
								<div class="carousel-caption">
									<p></p>
									<p><a class="btn btn-lg btn-default" href="{{ url('shop', {'category_name': 'bmx'}) }}" role="button">Bmx</a></p>
								</div>
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div><!-- /.carousel -->
			</div>
		</div>
	</header>


	<div class="container marketing col-xs-12">
		<div class="container">
			<div class="row">
				<h2 class="titleAnnonces">Les dernières annonces</h2>
				<!-- Three columns of text below the carousel -->
				<div class="row">


					{% for product in products %}

						<div class="col-lg-4">

							<div style="width:180px;height:180px;border:1px solid #444;border-radius: 35%;overflow: hidden;margin-left:auto;margin-right:auto;">

								{% if product.image_1 > "" %}
									<img src="{{ asset('assets/images/'~product.image_1) }}" alt="" style="height:180px;width:auto;margin-left:auto;margin-right:auto;">
								{% else %}
									<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="180" height="180">
								{% endif %}		
							</div>

							<h2><a href="{{ url('article', {'category_name': product.category_name|lower , 'slugproduct':product.name|slug , 'ID_product':product.ID_product}) }}">{{ product.name }}</a></h2>
							
							<p>{{ product.description|accroche }}</p>
							<p><a class="btn btn-default" href="{{ url('article', {'category_name': product.category_name|lower , 'slugproduct':product.name|slug , 'ID_product':product.ID_product}) }}" >Détails &raquo;</a></p>				

						</div>

					{% endfor %}


				</div><!-- /.row -->
			</div>
		</div>

		<!-- NEWSLETTER -->

		<div class="container-fluid col-xs-12 newsletter" id="newsletter">
				{% if mail_invalid is defined %}
					<div class="col-xs-8 col-xs-offset-2 alert alert-danger">
						<p style="color: black; font-size: 1.5em;">{{ mail_invalid }}</p>
					</div>
				{% endif %}

				{% if mail_exist is defined %}
					<div class="col-xs-8 col-xs-offset-2 alert alert-danger">
						<p style="color: black; font-size: 1.5em;">{{ mail_exist }}</p>
					</div>
				{% endif %}

				{% if success_inscription_newsletter is defined %}
					<div class="col-xs-8 col-xs-offset-2 alert alert-success">
						<p style="color: black; font-size: 1.5em;">{{ success_inscription_newsletter }}</p>
					</div>
				{% endif %}
			<div class="container">
				<div class="row">
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						{% if app.user.getNewsletter() == 0 %}
							<h2>Inscrivez vous à notre newsletter</h2>

							<br>
							<p>Pour vous tenir informé(e) de l’actualité et événements importants concernant Street Connect, abonnez-vous à notre newsletter maintenant.</p>
							<br>

							<a href="{{ url('newsletter') }}" class="btn btn-default">S'inscrire &raquo;</a>
						{% else %}
							<p>Vous êtes inscrit à la newsletter</p>
						{% endif %}
					{% else %}
						{% if app.session.get('user_add_newsletter') is null %}
							<h2>Inscrivez vous à notre newsletter</h2>

							<br>
							<p>Pour vous tenir informé(e) de l’actualité et événements importants concernant Street Connect, abonnez-vous à notre newsletter maintenant.</p>
							<br>

							<form action="{{ url('newsletter') }}" method="POST">
								<input type="text" placeholder="Votre email.." name="mail" aria-describedby="basic-addon1" required>
								<button type="submit" class="btn btn-default" role="button">S'inscrire &raquo;</button>
							</form>
						{% else %}
							<p>Vous êtes inscrit à la newsletter</p>
						{% endif %}
					{% endif %}
					<div class="input-group center-block">
					</div>
				</div>
			</div>
		</div>

		<!-- Forum -->
		<div class="container-fluid forum col-xs-12">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 tableau">

						<h2 class="titleForum">Forum</h2>

						<br>
						<table class="table">
							<thead>
								<tr>
									<th>Date</th>
									<th class="hidden-xs">Auteur</th>
									<th>Sujet</th>
								</tr>
							</thead>
							<tbody>


								{% for topic in topics %}
									<tr>
										<td>{{ topic.creation_date|date('d/m/Y') }}</td>
										<td class="hidden-xs"><a href="{{ url('profilUser', {'ID_user' : topic.ID_user}) }}">{{ topic.pseudo }}</a></td>
										<td>{{ topic.title }} <a><span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
									</tr>

								{% endfor %}



							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


		<!-- Agenda -->
		<div class="container-fluid col">
			<div class="container agenda">

				<h2 class="col-xs-12">Agenda</h2>



				{% set bRevStyle = false %}


					{% for event in events %}
						<div class="row featurette">
							<div class="col-md-7 {% if bRevStyle == true %} col-md-push-5 {% endif %}">
								<h3 class="featurette-heading">{{ event.event_title }}</h3>
								<h4><i>
									{% if event.end_date > 0 %}
										du {{ event.start_date|date('d/m/Y') }} au {{ event.end_date|date('d/m/Y') }} 
									{% else %}
										le {{ event.start_date|date('d/m/Y') }} 
									{% endif %}
									<br>
									{{ event.city ~ ' (' ~ event.zip_code ~ ')'}}
								</i></h4>
								<p>{{ event.event_description|accroche }}.</p>
								<a href="{{ url('agenda_article', {'category_name': event.category_name|lower , 'slugevent':event.event_title|slug , 'ID_event':event.ID_event}) }}" class="btn btn-default pull-right">Infos &raquo;</a>
							</div>
							<div class="col-md-5  {% if bRevStyle == true %} col-md-pull-7 {% endif %}">
								{% if event.image> "" %}
									<img src="{{ asset('assets/images/'~event.image) }}" alt="" class="img-responsive center-block">
								{% else %}
									<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
								{% endif %}
							</div>
						</div>

						<hr class="featurette-divider">

						{% if bRevStyle == false %}
							{% set bRevStyle = true %}						
							{% else %}
								{% set bRevStyle = false %}
								{% endif %}
							{% endfor %}

						</div>
					</div>


					<!-- Nos partenaires -->
					<div class="container-fluid partenaires col-xs-12">
						<div class="container">
							<div class="row">
								<h2 class="titleAnnonces">Nos partenaires</h2>
								<br>
								<!-- Three columns of text below the carousel -->
								<div class="row">
									<a href="https://www.abslyon.com/" target=_blank class="col-lg-3">
										<img class="featurette-image img-responsive center-block" height="auto" width="300" src="{{asset('img/abs.png')}}" alt="logo_abs">
										<br>

									</a>

									<a href="https://www.hawaiisurf.com/" target=_blank class="col-lg-3">
										<img class="featurette-image img-responsive center-block" height="auto" width="300" src="{{asset('img/hawai.png')}}" alt="logo_hawai">
										<br>
									</a>

									<a href="http://www.bikes.com/fr" target=_blank class="col-lg-3">
										<img class="featurette-image img-responsive center-block" height="auto" width="300" src="{{asset('img/rm.png')}}" alt="logo_rm">
										<br>
									</a>

									<a href="https://www.vans.fr/" target=_blank class="col-lg-3">
										<img class="featurette-image img-responsive center-block" height="auto" width="300" src="{{asset('img/vans.png')}}" alt="logo_vans">
										<br>
									</a>
								</div>
							</div>
						</div>
					</div>
				{% endblock %}

				{# include footer #}
				{% block footer %}
					{% include 'commerce/footer.html.twig' %}
				{% endblock %}