{% extends 'defaultLayout.html.twig' %}

{# titre de la page #}
{% block title %}
    {{ product.name }}  | Street Connexion
{% endblock %}

{# fil d'ariane #}
{% set active = product.category_name|lower %}

    {% block jshead %}

    {% endblock %}

    {# contenu de la page #}
    {% block contenu %}
        <div class="row">
            <!--colleft-->
            <div class="col-md-8 col-sm-12">

                <h3><a href="#">{{ product.name }}</a></h3>
                <ul>
                    <li>id produit {{ product.ID_product }}</li>
                    <li>categorie {{ product.category_name }}</li>
                    <li>sous-categorie {{ product.sub_category }}</li>
                    <li>marque : {{ product.brand }}</li>
                    <li>prix : {{ product.price }}</li>
                    <li>description : {{ product.description }}</li>
                    <li>image_1 : {{ product.image_1 }}</li>
                    <li>image_2 : {{ product.image_2 }}</li>
                    <li>image_3 : {{ product.image_3 }}</li>
                    <li>creation :{{ product.creation_date }}</li>
                    <li>coordonnées GPS : {{ product.tracking_number }}</li>
                </ul>

                <button class="add_product" ID-product="{{ product.ID_product }}">Ajouter au panier</button>
                <button class="remove_one_product" ID-product="{{ product.ID_product }}">Retirer une unité</button>
                <button class="remove_all_product" ID-product="{{ product.ID_product }}">Retirer du panier</button>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12">

                <div class="row">
                    <figure class="col-sm-12 col-md-8" style="height:350px;border:1px solid black;display:inline-block;text-align:center;">
                        <img id="selectedpic" src="{{ asset('../assets/images/'~product.image_1) }}" alt="" style="width:auto;height:100%;" />   
                    </figure>
                </div>




                <div class="row">

                    {% if product.image_1 is not empty %}

                        <img src="{{ asset('../assets/images/'~product.image_1) }}" alt="" style="width:80px;height:80px;margin:10px;border:1px solid black;display:inline-block;" onclick="getElementById('selectedpic').src='{{ asset('../assets/images/'~product.image_1) }}';"/>   

                    {% endif %}


                    {% if product.image_2 is not empty %}

                        <img src="{{ asset('../assets/images/'~product.image_2) }}" alt="" style="width:80px;height:80px;margin:10px;border:1px solid black;display:inline-block;" onclick="getElementById('selectedpic').src='{{ asset('../assets/images/'~product.image_2) }}';"/>   

                    {% endif %}


                    {% if product.image_3 is not empty %}

                        <img src="{{ asset('../assets/images/'~product.image_3) }}" alt="" style="width:80px;height:80px;margin:10px;border:1px solid black;display:inline-block;" onclick="getElementById('selectedpic').src='{{ asset('../assets/images/'~product.image_3) }}';"/>   

                    {% endif %}
                </div>
            </div>
        </div>



        <!--related post-->
        <div class="detail-caption">
            <span>DANS LE MEME STYLE</span>
        </div>
        <section>
            <div class="row">
                {% for suggest in suggests %}

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="spotlight-item-thumb">
                            <a href="{{ url('article', {'category_name': suggest.category_name|lower , 'slugproduct':suggest.name|slug , 'ID_product':suggest.ID_product}) }}">
                                image 1<!--  <img alt="" src="" /> -->
                            </a>
                            <a href="{{ url('categorie', {'category_name': suggest.category_name|lower}) }}" class="cate-tag">{{ suggest.category_name }}</a>
                        </div>

                        <h3><a href="{{ url('article', {'category_name': suggest.category_name|lower , 'slugproduct':suggest.name|slug , 'ID_product':suggest.ID_product}) }}">{{ suggest.name }}</a></h3>
                        <div class="meta-post">
                            <span>
                                {{ suggest.creation_date|date("d/m/Y") }}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>


    {% endblock %}



    {% block javascripts %}
        {{ parent() }}



    {% endblock %}

