{% extends 'defaultLayout.html.twig' %}

{% block header %}
	{{render(controller('Application\\Controller\\IncludeController::menuAction'))}}
{% endblock %}

{% block contenu %}
	<div class="row" style="min-height:600px;">
		<div class="col-xs-6 col-xs-push-3">
			<h2 class="text-center">Connexion</h2>
			<br>

			{% if success_inscription is defined and success_inscription != "" %}
				<div class="alert alert-success" role=alert>
					<p>{{success_inscription}}</p>
				</div>
			{% endif %}

			{% if erreur_connexion is defined %}
				<div class="alert alert-danger" role=alert>
					<p>{{erreur_connexion}}</p>
				</div>
			{% endif %}
			
			{% if error is defined %}
				<p style="color:red; font-size:2em;">{{error}}</p>
			{% endif %}

			{% if success is defined %}
				<div class="alert alert-success" role=alert>
					<p>{{success}}</p>
				</div><br>
			{% endif %}

			{% if success_mofidification_password is defined %}
				<p class="alert alert-success">{{ success_mofidification_password }}</p>
			{% endif %}

			<form class="form-horizontal" action="{{ url('admin_login_check') }}" method="POST">
				<h3 class="col-xs-12">Connexion</h3>
				<br>
				<!-- Email -->
				<div class="form-group">
					<label class="col-md-3 control-label">Email</label>
					<div class="col-md-7">
						<input type="email" value="{{ last_username }}" class="form-control" name="_username" required>
					</div>
				</div>

				<!-- Password -->
				<div class="form-group">
					<label class="col-md-3 control-label">Mot de passe</label>
					<div class="col-md-7">
						<input type="password" class="form-control" name="_password" required>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-7 col-md-push-3">
						<input  type="submit" class="btn btn-primary" value="Se connecter">
					</div>
				</div>
			</form>
			<a href="{{ url('forgot_password', {token: app.session.get('token')}) }}">MOT DE PASSE OUBLIE</a>
		</div>
	</div>
	<br>
{% endblock %}

{# include footer #}
{% block footer %}
	{% include 'commerce/footer.html.twig' %}
{% endblock %}