{% extends 'defaultLayout.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/inscriptionConnexion.css')}}">
{% endblock %}

{% block contenu %}
    <div class="container">
	<div class="row">
        <div class="col-xs-12">
		{% if error is not empty %}
			<div class="alert alert-danger" role=alert>
				
					<p>{{error}}</p><br>	
				
			</div><br>
		{% endif %}
        </div>
    	<div class="col-xs-10 col-xs-offset-1">
            <h3 class="col-xs-12">Inscription</h3>
    		<form enctype="multipart/form-data" class="form-horizontal" method="POST">
    			
    			
    			<!-- NOM  -->
    			<div class="form-group">
    				<label for="" class="col-md-3 control-label">
    					Nom
    				</label>
    				<div class="col-md-7">
    					{{ form_row(form.name) }}
    				</div>
    			</div>
    			
    			<!-- PRENOM  -->
    			<div class="form-group">
    				<label for="" class="col-md-3 control-label">
    					Prénom
    				</label>
    				<div class="col-md-7">
    					{{ form_row(form.surname) }}
    				</div>
    			</div>
    			
    			<!-- PSEUDO  -->
    			<div class="form-group">
    				<label for="" class="col-md-3 control-label">
    					Pseudo
    				</label>
    				<div class="col-md-7">
    					{{ form_row(form.pseudo) }}
    				</div>
    			</div>
    			
    			<!-- RUE  -->
    			<div class="form-group">
    				<label for="" class="col-md-3 control-label">
    					Rue
    				</label>
    				<div class="col-md-7">
    					{{ form_row(form.street) }}
    				</div>
    			</div>

    			<!-- Code Postal  -->
    			<div class="form-group">
    				<label for="" class="col-md-3 control-label">
    					Code Postal
    				</label>
    				<div class="col-md-7">
    					{{ form_row(form.zip_code) }}
    				</div>
    			</div>

    			<!-- VILLE  -->
    			<div class="form-group">
    				<label for="" class="col-md-3 control-label">
    					Ville
    				</label>
    				<div class="col-md-7">
    					{{ form_row(form.city) }}
    				</div>
    			</div>

    			<!-- MAIL  -->
    			<div class="form-group">
    				<label for="" class="col-md-3 control-label">
    					Email
    				</label>
    				<div class="col-md-7">
    					{{ form_row(form.email) }}
    				</div>
    			</div>

    			<!-- TELEPHONE  -->
    			<div class="form-group">
    				<label for="" class="col-md-3 control-label">
    					Numéro de téléphone
    				</label>
    				<div class="col-md-7">
    					{{ form_row(form.phone) }}
    				</div>
    			</div>

    			<!-- NOM DE LA SOCIETE  -->
    			<div class="form-group">
    				<label for="" class="col-md-3 control-label">
    					Nom de la société
    				</label>
    				<div class="col-md-7">
    					{{ form_row(form.society_name) }}
    				</div>
    			</div>
    			
    			<!-- AVATAR -->
    			<div class="form-group">
    				<label for="" class="col-md-3 control-label">
    					Avatar image
    				</label>
    				<div class="col-md-7">
    					{{ form_row(form.avatar) }}
    				</div>
    			</div>

    			<!-- PASSWORD  -->
    			<div class="form-group">
    				<label for="" class="col-md-3 control-label">
    					Mot de passe
    				</label>
    				<div class="col-md-7">
    					{{ form_row(form.password) }}
    				</div>
    			</div>

    			<!-- PASSWORD VERIF -->
    			<div class="form-group">
    				<label for="" class="col-md-3 control-label">
    					Confirmation du mot de passe
    				</label>
    				<div class="col-md-7">
    					{{ form_row(form.passwordVerif) }}
    				</div>
    			</div>
    			
    			
    			{# Important pour la validation du Token #}
    			{{ form_row(form._token) }}
    			
    			<!-- Submit -->
    			<div class="form-group">
    				<div class="col-xs-7 col-xs-offset-3">
						<button type="submit" class="btn btn-primary" value="Publier">
							S'enregistrer</button>
					</div>
    			</div>
    			
    		</form>
    	</div>
    </div>
	</div>
{% endblock %}

{# include footer #}
{% block footer %}
	{% include 'commerce/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="//cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha256-SUaao5Q7ifr2twwET0iyXVy0OVnuFJhGVi5E/dqEiLU=" crossorigin="anonymous"></script>
	<script>
        
        $('.dropify').dropify({
            messages: {
            default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
            replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
            remove:  'Supprimer',
            error:   'D&eacute;sol&eacute;, le fichier trop volumineux'
        }	
    });
    </script>
{% endblock %}