{% extends 'defaultLayout.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/list-products.css')}}">
{% endblock %}

{% block contenu %}

	<div class="container products">
		<div class="row">
			{% if success is defined %}
				<div class="alert alert-warning" role=alert>
					<p>{{ success }}</p>
				</div>	
			{% endif %}
		

		
			<div class="col-md-12">
				<div class="actionbar">
					<a href="{{ url('profil', {'ID_user' : app.user.ID_user}) }}" class="btn btn-info">Retour à mon profil</a>
				</div>
				<br><br>
				{% if products is not empty %}
				<table class="table table-bordered table-striped table-hover table-condensed table-responsive" width="85%" id="myTable">
					<thead>
						<tr>
							<th width="80"></th>
							<th class="small">Nom ou Modèle</th>
							<th class="small" width="80">Prix (€)</th>
							<th class="small" width="80">Date de création</th>
							<th class="small" width="80">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for value in products %}
							<tr>
								<td align="center">
									{% if (value.image_1>"") %}
										<img src="{{ asset('assets/images/'~value.image_1) }}" class="img-fluid">
									{% endif %}
								</td>
								<td>{{value.name}}</td>
								<td align="right">{{value.price|number_format(2, '.', ' ')}}</td>
								<td align="center">{{value.creation_date | date('d/m/Y')}}</td>
								<td align="center">
									<a href="{{ url('view_newAd',{'ID_product' : value.ID_product, 'token' : app.session.get('token')}) }}" class="form-control btn btn-warning">Modifier</a>
									<br><br>
									<form action="{{ url('deleteProduct') }}"  method="post">
										<input type="hidden" name="ID_product" value="{{value.ID_product}}">
										<input type="hidden" name="token" value="{{app.session.get('token')}}">
										<button onclick="return confirm('êtes vous sûr ??')" class="form-control btn btn-danger" type="submit">Supprimer</button> 								
									</form><br>						
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			
		{% else %}
				
				<div class="alert alert-warning" role=alert>
					<p>Vous n'avez pas encore de produits à afficher</p>
				</div>		

			{% endif %}
			</div>
		</div>
	</div>

{% endblock %}

{# include footer #}
	{% block footer %}
		{% include 'commerce/footer.html.twig' %}
	{% endblock %}