{% extends 'defaultLayout.html.twig' %}



{% block contenu %}
	<div class="row">
		{% if success is defined %}
			<div class="alert alert-danger" role=alert>
				<p>{{ success }}</p>
			</div>	
		{% endif %}
		

		{% if products is not empty %}
			<div class="col-md-12">
				<table class="table table-bordered table-striped table-hover table-condensed table-responsive" id="myTable">
					<thead>
						<tr>
							<th>Numéro du produit</th>
							<th>Nom ou Modèle</th>
							<th>Marque</th>
							<th>Catégorie</th>
							<th>Sous-Catégorie</th>
							<th>Prix</th>
							<th>Frais de livraisons</th>
							<th>Description</th>
							<th>Image 1</th>
							<th>Image 2</th>
							<th>Image 3</th>
							<th>Date de création</th>
							<th>Numéro de colis</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for value in products %}
							<tr>
								<td>{{value.ID_product}}</td>

								<td>{{value.name}}</td>

								<td>{{value.brand}}</td>

								<td>{{value.category_name}}</td>

								<td>{{value.sub_category}}</td>

								<td>{{value.price}}</td>

								<td>{{value.shipping_charges}}</td>

								<td>{{value.description}}</td>

								<td><img src="{{ asset('assets/images/'~value.image_1)}}" class="img-fluid"></td>

								<td><img src="{{ asset('assets/images/'~value.image_2)}}" class="img-fluid"></td>

								<td><img src="{{ asset('assets/images/'~value.image_3)}}" class="img-fluid"></td>

								<td>{{value.creation_date | date('d/m/Y')}}</td>

								<td>{{value.tracking_number}}</td>

								<td>
									<form action="{{ url('deleteProduct') }}"  method="post">
										<input type="hidden" name="ID_product" value="{{value.ID_product}}">
										<input type="hidden" name="token" value="{{app.session.get('token')}}">
										<button onclick="return confirm('êtes vous sûr ??')" class="btn btn-danger" type="submit">Supprimer</button> 								
									</form>
									<form action="{{ url('newAd') }}"  method="post">
										<input type="hidden" name="ID_product" value="{{value.ID_product}}">
										<input type="hidden" name="token" value="{{app.session.get('token')}}">
										<button  class="btn btn-warning">Modifier</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			
			<div class="alert alert-warning" role=alert>
				<p>Vous n'avez pas encore de produits à afficher</p>
			</div>		

		{% endif %}
	</div>



{% endblock %}



