{% extends 'defaultLayout.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/profil.css')}}">
{% endblock %}

{% block contenu %}

	<div class="container">

		<div class="row">

			<div class="col-xs-12 text-center intro">

				<hr>
				<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="avatar">

				<h3>
					{% if userProfil is defined and userProfil is not empty %}
						{{userProfil.pseudo}}
						<small> - {{userProfil.society_name}}</small>
					{% else %}
						<div>Aucun utilisateur ne correspond à votre recherche</div>
					{% endif %}
				</h3>

				<a class="modif" href="{{ url('set_profil',{'token':app.session.get('token')}) }}">Modifier le profil</a>

				<hr>

			</div>

			<div class="col-xs-12 col-md-6">

				<h4>
					{% if topic is defined and topic is not empty %}
						{{topic.ID_category}}</h4>
						<hr>
						<h5>{{topic.ID_product}}</h5>
						<p>{{topic.title}}</p>
					{% else %}
						<div>Aucun topic ne correspond à votre recherche</div>
					{% endif %}
				</div>

				<div class="col-xs-12 col-md-6">

					<h4>{% if event is defined and event is not empty %}
						{{event.ID_category}}</h4>
						<hr>
						<h5>{{event.event_title}}</h5>
						<p>{{event.description}}</p>
					{% else %}
						<div>Aucun évènement ne correspond à votre recherche</div>
					{% endif %}
				</div>

			</div>
			<br>
		</div>
		<br>

	{% endblock %}

	{# include footer #}
	{% block footer %}
		{% include 'commerce/footer.html.twig' %}
	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
	{% endblock %}