{% extends 'defaultLayout.html.twig' %}

{% block title %}
    Agenda {{ global.request.get('category_name') }} | Street Connexion
{% endblock %}

{# fil d'ariane #}
{% set active = global.request.get('category_name')|lower %}

    {% set pageMax = (totalEvents / nbPerPage)|round(0, 'ceil') %}


        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="{{asset('css/shop.css')}}">
            <link rel="stylesheet" href="{{asset('css/portfolio-item.css')}}">
        {% endblock %}


        {% block contenu %}

            <!-- Page Content -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="lead">Agenda</h4>

                        {{ render (controller('Application\\Controller\\InterfaceAgendaController::menuAgenda', { 'active':active } )) }}

                    </div>

                    <div class="col-md-9">

                        {% if top is defined %}

                            <!-- Portfolio Item Row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
                                </div>

                                <div class="col-md-6">
                                    <h2>Evènement à la une</h2>
                                    <h3>{{ top.event_title }}</h3>
                                    
                                    <h5><i> 
                                        {% if top.end_date > 0 %}
                                            du {{ top.start_date|date('d/m/Y') }} au {{ top.end_date|date('d/m/Y') }} 
                                        {% else %}
                                            le {{ top.start_date|date('d/m/Y') }} 
                                        {% endif %}
                                        <br>
                                        {{ top.city ~ ' (' ~ top.zip_code ~ ')'}}
                                    </i></h5>
                                    <p>{{ top.event_description|accroche }}</p>
                                    <a href="{{ url('agenda_article', {'category_name': global.request.get('category_name')|lower , 'slugevent':top.event_title|slug , 'ID_event':top.ID_event}) }}" class="btn btn-primary pull-right">Infos</a>
                                </div>

                            </div>

                            <hr>
                        {% endif %}

                        <div class="row">

                            <div class="col-lg-12">
                                <h3>
                                    {% if global.request.get('category_name') == "all" %}
                                        Tous les Evenements
                                    {% else %}
                                        {{ global.request.get('category_name') }}
                                    {% endif %}
                                </h3>
                            </div>
                            
                            {% if events is empty %}
                                <div class="alert alert-warning">Il n'y a pas encore d'événements dans cette catégorie</div>
                            {% else %}


                                {% for event in events %}

                                    <div class="col-xs-6 col-md-4">
                                        <a href="{{ url('agenda_article', {'category_name': event.category_name|lower , 'slugevent':event.event_title|slug , 'ID_event':event.ID_event}) }}">
                                            {% if event.image > "" %}
                                                <img class="img-responsive" style="width:auto;height:100px;margin-left:auto;margin-right:auto;" src="{{ asset('assets/images/'~event.image) }}" alt="">
                                            {% else %}
                                                <img class="img-responsive" src="http://placehold.it/500x300" alt="">
                                            {% endif %} 
                                        </a>
                                        <h3>{{ event.event_title }}</h3>
                                        <h6><i> 
                                            {% if event.end_date > 0 %}
                                                du {{ event.start_date|date('d/m/Y') }} au {{ event.end_date|date('d/m/Y') }} 
                                            {% else %}
                                                le {{ event.start_date|date('d/m/Y') }} 
                                            {% endif %}
                                            <br>
                                            {{ event.city ~ ' (' ~ event.zip_code ~ ')'}}
                                        </i></h6>

                                        <p>{{ event.event_description|accroche }}</p>
                                        <a href="{{ url('agenda_article', {'category_name': event.category_name|lower , 'slugevent':event.event_title|slug , 'ID_event':event.ID_event}) }}" class="btn btn-primary pull-right">Infos</a>

                                        <br><br>
                                        <hr class="col-xs-9 col-xs-push-1">
                                        <br><br>
                                    </div>

                                {% endfor %}

                            {% endif %}


                        </div>
                        <!-- /.row -->


                    </div>

                    {% if page is defined %}

                        <div class="paging col-xs-12" style="text-align:center;margin:25px 0;">
                            {% if (pageMax) > 1 %}
                                <a href="{{ url('agenda_page', {'category_name': global.request.get('category_name')|lower , 'page': 1 }) }}" class="btn btn-default">Début</a>
                            {% endif %}

                            {% if (page - 1) > 1 %}
                                <a href="{{ url('agenda_page', {'category_name': global.request.get('category_name')|lower , 'page': (page - 1) }) }}" class="btn btn-default">Précédent</a>
                            {% endif %}
                            &nbsp;&nbsp;
                            {% if (page - 2) >= 1 %}
                                <a href="{{ url('agenda_page', {'category_name': global.request.get('category_name')|lower , 'page': (page - 2) }) }}" class="btn btn-default">{{ (page - 2) }}</a>
                            {% endif %}
                            &nbsp;&nbsp;                       
                            {% if (page - 1) >= 1 %}
                                <a href="{{ url('agenda_page', {'category_name': global.request.get('category_name')|lower , 'page': (page - 1) }) }}" class="btn btn-default">{{ (page - 1) }}</a>
                            {% endif %}
                            &nbsp;&nbsp;
                            <a href="#" class="btn btn-primary">{{ page }}</a>
                            &nbsp;&nbsp;
                            {% if (page + 1) <= pageMax %}
                                <a href="{{ url('agenda_page', {'category_name': global.request.get('category_name')|lower , 'page': (page + 1) }) }}" class="btn btn-default">{{ (page + 1) }}</a>
                            {% endif %}
                            &nbsp;&nbsp;   
                            {% if (page + 2) < pageMax %}
                                <a href="{{ url('agenda_page', {'category_name': global.request.get('category_name')|lower , 'page': (page + 2) }) }}" class="btn btn-default">{{ (page + 2) }}</a>
                            {% endif %}
                            &nbsp;&nbsp; 
                            {% if (page + 1) < pageMax %}
                                <a href="{{ url('agenda_page', {'category_name': global.request.get('category_name')|lower , 'page': (page + 1) }) }}" class="btn btn-default">Suivant</a>
                            {% endif %}
                            &nbsp;&nbsp;

                            {% if (pageMax) > 1 %}
                                <a href="{{ url('agenda_page', {'category_name': global.request.get('category_name')|lower , 'page': pageMax }) }}"  class="btn btn-default">Fin</a>
                            {% endif %}                         
                        </div> 
                    {% endif %}

                </div>
            </div>

        {% endblock %}


        {# include footer #}
        {% block footer %}
            {% include 'commerce/footer.html.twig' %}
        {% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset("js/notify.min.js")}}"></script>
            <script src="{{ asset('js/panier.js') }}"></script>
        {% endblock %}