{% extends 'defaultLayout.html.twig' %}

{% block title %}
	{{ event.event_title }}  | Street Connexion
{% endblock %}

{# fil d'ariane #}
{% set active = event.category_name|lower %}

	{% block stylesheets %}
		{{parent()}}
		<link rel="stylesheet" href="{{asset('css/item.css')}}">
	{% endblock %}

	{% block contenu %}


		<!-- Page Content -->
		<br><br><br><br>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h4 class="lead">Agenda</h4>
					{{ render (controller('Application\\Controller\\InterfaceAgendaController::menuAgenda', { 'active':active } )) }}
				</div>

				<div class="col-lg-9">
					<div class="card mt-4">
						<div class="row carousel-shop carousel-holder">
							{% if event.image >  "" %}
								<img class="img-responsive" src="{{ asset('assets/images/'~event.image) }}" alt="">
							{% else %}
								<img class="img-responsive" src="http://placehold.it/800x300" alt="">
							{% endif %}					
						</div>
						<div class="card-body">
							<small class="text-muted pull-right">Publié par	<a href="{{ url('profilUser', {'ID_user' : event.ID_user}) }}">{{ event.pseudo }}</a>  le  {{ event.creation_date|date('d/m/Y') }}</small>
							<h3 class="card-title">{{ event.event_title }}</h3>							
							<p class="card-text">{{ event.event_description | balise}}</p>
						</div>
					</div>
					<br><br>
					<hr>
				</div>
				<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-push-3">
						<div class="card-header">
							Infos et contact
						</div>
						<div class="card-body">
							<p>
								Le {{event.start_date | date('d/m/Y')}}
								{% if event.end_date is not empty %}
									jusqu'au {{event.end_date | date('d/m/Y')}}	
								{% endif %}			
							</p>
							<p>
								<hr>
								{{event.street_name}}<br>
								{{event.zip_code}}<br>
								{{event.city}}
							</p>
							<p>
								<hr>
								Contacts :<br>
								{{event.mail}}<br>
								{{event.phone}}<br>
								<a href="{{ event.url_1 }}">{{event.url_1}}</a><br>
								{% if 'facebook' in event.url_2 %}
									<i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="{{ event.url_2 }}">{{event.url_2}}</a><br>
								{% elseif 'twitter' in event.url_2 %}
									<i class="fa fa-twitter" aria-hidden="true"></i> <a href="{{ event.url_2 }}">{{event.url_2}}</a><br>
								{% elseif 'instagram' in event.url_2 %}
									<i class="fa fa-instagram" aria-hidden="true"></i> <a href="{{ event.url_2 }}">{{event.url_2}}</a><br>
								{% else %}
									<a href="{{ event.url_2 }}">{{event.url_2}}</a><br>
								{% endif %}

								{% if 'facebook' in event.url_3  %}
									<i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="{{ event.url_3 }}">{{event.url_3 }}</a><br>
								{% elseif 'twitter' in event.url_3  %}
									<i class="fa fa-twitter" aria-hidden="true"></i> <a href="{{ event.url_3 }}">{{event.url_3 }}</a><br>
								{% elseif 'instagram' in event.url_3  %}
									<i class="fa fa-instagram" aria-hidden="true"></i> <a href="{{ event.url_3 }}">{{event.url_3 }}</a><br>
								{% else %}
									<a href="{{ event.url_3 }}">{{event.url_3 }}</a><br>
								{% endif %}

							</p>
						</div>
					</div>
					<div class="col-md-5 col-md-push-3">
						<div class="card-body">
						<div id="map"></div>
					</div>
					</div>
				</div>
				</div>
					<div class="container containerSuggest">
					<div class="card card-outline-secondary my-4">

						<div class="card-header">
							<hr>
							Suggestions
							<br><br>
						</div>

						<div class=" row card-body">

							{% if suggests is empty %}
								<div class="alert alert-warning">Il n'y a pas encore de suggestions rattachées à cet événement</div>
							{% else %}

								{% for suggest in suggests %}

									<div class="col-sm-3 thumbnail">
										<a href="{{ url('agenda_article', {'category_name': suggest.category_name|lower , 'slugevent':suggest.event_title|slug , 'ID_event':suggest.ID_event}) }}">
											{% if event.image > "" %}
												<img class="img-responsive" style="width:auto;height:100px;margin-left:auto;margin-right:auto;" src="{{ asset('assets/images/'~suggest.image) }}" alt="">
											{% else %}
												<img class="img-responsive" src="http://placehold.it/500x300" alt="">
											{% endif %} 
										</a>
										<h3>{{ event.event_title }}</h3>
										<p>{{ event.event_description|accroche }}</p>
										<a href="{{ url('agenda_article', {'category_name': suggest.category_name|lower , 'slugevent':suggest.event_title|slug , 'ID_event':suggest.ID_event}) }}" class="btn btn-primary pull-right">Infos</a>
									</div>
									<div class="hidden-xs-up col-sm-1"></div>

								{% endfor %}

							{% endif %}
						</div>
					</div>
					</div>
					
					<br><br>
					<br><br>
				</div>
				<div class="container">
				<div class="row">
					<div class="card card-outline-secondary my-4">

						<br><br>
						<hr>
						<br><br>
						<div class="card-header">
							<h4>Discussion autour de l'événement</h4>
						</div>
						<div class="card-body">
							{% if posts is empty %}
								<div class="alert alert-warning">Il n'y a pas encore de discussions sur ce produit</div>
							{% else %}
								{% for post in posts %}
									<p class= "pull-right">
									par <a href="{{ url('profilUser', {'ID_user' : post.ID_user}) }}">{{post.pseudo}}</a> le : {{post.post_date | date('d/m/Y')}}</p>
									<br>
									<hr>
									{{ post.content | balise }}
									<br><hr><br>
								{% endfor %}
							{% endif %}
						</div>
					</div>
					
					<br><br>						
					<br><br>

				</div>
				</div>
			</div>
		</div>
	{% endblock %}

	{# include footer #}
	{% block footer %}
		{% include 'commerce/footer.html.twig' %}
	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		<script src="{{ asset("js/notify.min.js")}}"></script>
		<script src="{{ asset('js/panier.js') }}"></script>
		{% if event.latitude is not empty and event.longitude is not empty %}
		<script>
	     function initMap() {
	       var Notre_boutique = {lat: {{ event.latitude | number | json_encode() | raw }}, lng: {{ event.longitude | number |  json_encode()  | raw }} };
	       var map = new google.maps.Map(document.getElementById('map'), {
	         zoom: 14,
	         center: Notre_boutique
	       });
	       var marker = new google.maps.Marker({
	         position: Notre_boutique,
	         map: map
	       });
	     }
	   </script>	
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAovZOovHb3bqa8MJtf6bhygt0FRj0XErU&callback=initMap"></script>
		{% endif %}
	{% endblock %}