{% extends 'defaultLayout.html.twig' %}



{% block contenu %}
	<div class="row">
		{% if success is defined %}
			<div class="alert alert-danger" role=alert>
				<p>{{ success }}</p>
			</div>	
		{% endif %}
		

		{% if events is not empty %}
			<div class="col-md-12">
				<table class="table table-bordered table-striped table-hover table-condensed table-responsive" id="myTable">
					<thead>
						<tr>
							<th>Numéro de l'événement</th>
							<th>Nom de l'événement</th>
							<th>Date de début</th>
							<th>Date de fin</th>
							<th>Date d'ajout</th>
							<th>Catégorie</th>
							<th>Adresse</th>
							<th>Code postal</th>
							<th>Ville</th>
							<th>Image</th>
							<th>Adresse de site web</th>
							<th>Réseau social 1</th>
							<th>Réseau social 2</th>
							<th>Email</th>
							<th>Téléphone</th>
							<th>Description</th>
							<th>Coordonnées GPS</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for value in events %}
							<tr>
								<td>{{value.ID_event}}</td>

								<td>{{value.event_title}}</td>

								<td>{{value.start_date | date('d/m/Y')}}</td>

								<td>{{value.end_date | date('d/m/Y')}}</td>

								<td>{{value.creation_date | date('d/m/Y')}}</td>

								<td>{{value.category_name}}</td>

								<td>{{value.street_name}}</td>

								<td>{{value.zip_code}}</td>

								<td>{{value.city}}</td>

								<td><img src="{{ asset('assets/images/'~value.image)}}" class="img-fluid"></td>

								<td>{{value.url_1}}</td>

								<td>{{value.url_2}}</td>

								<td>{{value.url_3}}</td>

								<td>{{value.mail}}</td>

								<td>{{value.phone}}</td>

								<td>{{value.event_description}}</td>

								<td>{{value.latitude}}, {{value.longitude}}</td>

								<td>
									<form action="{{ url('deleteEvent') }}"  method="post">
										<input type="hidden" name="ID_event" value="{{value.ID_event}}">
										<input type="hidden" name="token" value="{{app.session.get('token')}}">
										<button onclick="return confirm('êtes vous sûr ??')" class="btn btn-danger" type="submit">Supprimer</button> 								
									</form>
									<form action="{{ url('agenda_add') }}"  method="post">
										<input type="hidden" name="ID_event" value="{{value.ID_event}}">
										<input type="hidden" name="token" value="{{app.session.get('token')}}">
										<button  class="btn btn-warning">Modifier</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			
			<div class="alert alert-warning" role=alert>
				<p>Vous n'avez pas encore de produits à afficher</p>
			</div>		

		{% endif %}
	</div>



{% endblock %}



