{% extends 'defaultLayout.html.twig' %}

{% block contenu %}
	<br><br><br><br>
	<div class="row">
		{% if success is defined %}
			<div class="alert alert-danger" role=alert>
				<p align="center">{{ success }}</p>
			</div>	
		{% endif %}

		<p class="result_change col-xs-8 col-xs-offset-2 alert"></p>
		

		{% if users is not empty %}
			<div class="col-md-12">
				<div class="actionbar">
					<a href="{{ url('accueilAdmin') }}" class="btn btn-default">Retour à l'accueil</a>
				</div>
				<table class="table table-bordered table-striped table-hover table-condensed table-responsive" width="85%"  id="myTable">
					<thead>
						<tr>
							<th width="80"></th>
							<th class="small">Nom / Prénom</th>
							<th class="small" width="100">Pseudo</th>
							<th class="small" width="80">Date de création</th>
							<th class="small" width="80">Dernière connexion</th>
							<th class="small" width="80">Type</th>
							<th class="small" width="80">Action</th>
							<th class="small" width="80">Modifier l'email</th>
						</tr>
					</thead>
					<tbody>
						{% for value in users %}
							<tr>
								<td align="center">
									{% if (value.avatar>"") %}
										<img src="{{ asset('assets/images/'~value.avatar) }}" style="width:70px;height:auto;">
									{% endif %}
								</td>
								<td>{{value.name ~ ' ' ~ value.surname }}</td>
								<td>{{value.pseudo }}</td>
								<td>{{value.creation_date | date('d/m/Y')}}</td>
								<td>
									{% if (value.connexion_date>"0") %}
										{{value.connexion_date | date('d/m/Y')}}
									{% else %}
										jamais
									{% endif %}
								</td>
								<td>
									<select id="change-type" onchange="change_type($(this).val(), {{ value.ID_user }});">
										<option {% if value.type == "ROLE_ADMIN" %}selected{% endif %} value="ROLE_ADMIN">Admin</option>
										<option {% if value.type == "ROLE_USER" %}selected{% endif %} value="ROLE_USER">Utilisateur lambda</option>
									</select>
								</td>
								<td>
									<form action="" method="post">
										<input type="hidden" name="ID_user" value="{{value.ID_user}}" class="ID_user">
										<input type="hidden" name="token" value="{{app.session.get('token')}}">
										<button onclick="event.preventDefault(); res = confirm('êtes vous sûr ??'); if(res) remove_user({{ value.ID_user }});" class="for-control btn btn-danger" type="submit">Supprimer</button> 								
									</form>
								</td>
								<td>
									<input type="text" value="{{ value.mail }}" onclick="accept_modify('{{ value.pseudo }}', {{ value.ID_user }}, this)" class="modify_mail" ID-user="{{ value.ID_user }}" Pseudo-user="{{ value.pseudo }}">
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			
			<div class="alert alert-warning" role=alert>
				<p>Vous n'avez pas encore de topic à afficher</p>
			</div>		

		{% endif %}
	</div>

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/change.js') }}"></script>
{% endblock %}
